<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Maze creation with Processing.js">
    <meta name="author" content="Rodrigo Rivera">
    <link rel="icon" href="images/icon-16.png">
    
    <title>Inteligencia Artificial</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="css/grid.css" rel="stylesheet">
    
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="scripts/ie10-viewport-bug-workaround.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <!-- My scripts -->
    <script src="scripts/jquery-1.11.1.js"></script>
	<script src="scripts/processing.min.js"></script>
	<script src="scripts/maze-jquery-functions.js"></script>
  </head>
  
  <body>
    <!-- Static navbar -->
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Inteligencia Artificial</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="kmeans.html">Kmeans</a></li>
            <li class="active"><a href="#">Laberinto</a></li>
			<li><a href="genetico.html">N-reinas</a></li>
			<li><a href="wolfram.html">Wolfram</a></li>
          </ul>
          <!--<ul class="nav navbar-nav navbar-right">
            <li><a href="#">Info</a></li>
            <li><a href="#">About</a></li>
          </ul>-->
        </div><!--/.nav-collapse -->
      </div>
    </div>
    
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8">
        <p class="text-center">
          <canvas id="maze-canvas" width="500" height="500"></canvas>
        </p>
      </div>
    
      <div class="col-xs-12 col-sm-8 col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Opciones</h3>
          </div>
          <div class="panel-body">
            <button type="button" class="btn btn-primary" id="maze-play"><span class="glyphicon glyphicon-play"></span></button> <!-- Play -->
			<button type="button" class="btn btn-primary" id="maze-pause" style="display:none"><span class="glyphicon glyphicon-pause"></span></button> <!-- Pause -->
			<button type="button" class="btn btn-default" id="maze-step"><span class="glyphicon glyphicon-step-forward"></span></button> <!--Step-->
			<button type="button" class="btn btn-default" id="maze-reset"><span class="glyphicon glyphicon-repeat"></span></button>  <!--Reset-->
			<br>
			Ancho <input id="maze-width" type="number" class="form-control maze-dimension" min="2" max="100" value="30" placeholder="Default: 30">
			Alto <input id="maze-height" type="number" class="form-control maze-dimension" min="2" max="100" value="30" placeholder="Default: 30">
			Tamaño de celda <input id="maze-pixels" type="number" class="form-control maze-dimension" min="2" max="128" value="16" placeholder="Default: 16">
          </div>
        </div>
        
        <!--<div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Colores</h3>
          </div>
          <div class="panel-body">
            Fondo <input id="maze-background-color" type="color" class="form-control maze-color" value="#FFFFFF" placeholder="Color de fondo">
			Fondo2 <input id="maze-background2-color" type="color" class="form-control maze-color" value="#0000FF" placeholder="Color de fondo">
            Transparencia <input id="maze-background-transparency" type="range" class="form-control maze-color" min="0" max="255" step="5" value="255">
			Linea <input id="maze-line-color" type="color" class="form-control maze-color" value="#000000" placeholder="Color de linea">
			Actual <input id="maze-posActual-color" type="color" class="form-control maze-color" value="#000000" placeholder="Color de linea">
          </div>
        </div>-->
        
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
    <script src="scripts/maze.js"></script>
  </body>
</html>
